@model BookStroe.Models.BookModel
@using System.Net.Http
@using BookStroe.Utility;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;

@{
    List<BookModel> books = HttpContextAccessor.HttpContext.Session.Get<List<BookModel>>("books");
    BookModel book = null;
    if (books != null)
    {
        book = books.FirstOrDefault(c=>c.Id==Model.Id);
    }
}

@{
    ViewData["Title"] = "GetBookById";
}

<h1 class="text-center">@ViewData["BookTitle"]</h1>

<div>

    <hr />
    <div class="rounded row-cols-3">
        @if (book == null)
        {
            <a asp-controller="Home" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn btn-outline-success"> Add to cart</a>
        }
        else
        {
            <a asp-controller="Home" asp-action="RemoveFromCart" asp-route-id="@Model.Id" class="btn btn-outline-danger"> Remove from Cart</a>
        }

        <a class="btn btn-outline-primary" href="@Model.PdfURL" target="_blank">Read now</a>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pages)
        </dd>
        <dt class="col-sm-2">
            Category
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.booktype.TypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt class="col-sm-2">
            <img src="@Model.PhotoURL" asp-append-version="true" class="figure-img" width="271" height="156" />
        </dt>
    </dl>
</div>
<div>
    <a asp-action="EditBook" asp-route-id="@Model.Id" class="btn btn-dark">Edit</a>
    <a asp-action="DeleteBook" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
</div>
